.profile__edit-btn {
  width: 10px;
  height: 10px;
  background-image: url('/images/profileEdit.svg');
  padding: 10px;
  border: 1px solid white;
  margin: 16px 0 auto;
  background-color: black;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: opacity 0.8s ease;
}

.profile__edit-btn:hover {
  opacity: 0.8;
}

@media (min-width: 320px) and (max-width: 375px) {
  .profile__edit-btn {
    width: 18px;
    height: 18px;
    background-size: 8px 8px;
    justify-self: center;
    padding: 0;
    margin-top: 8px;
  }
}