.popup__field {
  padding-bottom: 8px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #bcbcc4;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  outline: none;
}

.popup__field:nth-last-of-type(1){
  margin-bottom: 0;
}

.popup__field:focus {
  outline-color: #bcbcc4;
}